svg {
  display: block;
  width: 100%;
  height: auto;
}

.wrapper {
  margin: 0 auto;
  padding: 0 0.75rem;
  max-width: 90rem;
}

.floor {
  margin: 0 0 0.75rem 0;
}

button {
  cursor: pointer;
  border-radius: 0;
}

input {
  -webkit-appearance: auto;
}

h1 {
  font-family: serif;
  font-weight: bold;
  padding: 0.75rem 0;
  font-size: 1.5rem;
}

h1 a:hover {
  color: #000A;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}