.goban {
  margin: 0.75rem 0;
  background: #DEB887;
}

.me {
  position: relative;
}

.me:hover {
  background: #FFFFFF55;
}

.me:disabled:hover {
  background: none;
  cursor: default;
}

.ishi {
  position: absolute;
  border-radius: 50%;
  visibility: hidden;
}

.ishi.black {
  top: 1%;
  left: 1%;
  height: 98%;
  width: 98%;
  background: linear-gradient(-45deg, #000, #777);
  box-shadow: 0.2rem 0.2rem 0.1rem #0007;
}

.ishi.white {
  top: 2%;
  left: 2%;
  height: 96%;
  width: 96%;
  background: linear-gradient(-45deg, #000, #777);
  background: linear-gradient(-45deg, #AAA, #FFF);
  box-shadow: 0.2rem 0.2rem 0.1rem #0003;
}

.row {
  display: flex;
  align-items: center;
}

.row>* {
  width: 100%;
  text-align: center;
}

.game-control form {
  display: flex;
  align-items: center;
}

.game-control form>div {
  margin-right: 0.75rem;
  width: 100%;
  position: relative;
}

.game-control form>div:last-of-type {
  margin-right: 0;
}

.game-control form>div input {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 2rem;
  height: 2rem;
}

.game-control label {
  display: block;
  height: 4rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  background: #DEB887;
  font-family: serif;
  font-weight: bold;
  padding: 0.8rem;
}

.game-control label:hover {
  background: #DEB887BB;
}

.floor.room-info {
  background: #DEB887;
  padding: 0.75rem;
}

.room-info h2 {
  font-family: serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.room-info p {
  margin: 1.5rem 0 0;
  font-size: 1.25rem;
}

.room-info p+p {
  margin: 0.5rem 0 0;
}

.room-info span {
  display: block;
  margin: 0.5rem 0 0;
}