<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online 囲碁</title>
  <link rel="stylesheet" href="https://kakudo415.github.io/null.css/2.4.css">
  <link rel="stylesheet" href="/static/common.css">
  <link rel="stylesheet" href="/static/index.css">
  <link rel="icon" href="/static/favicon.png" type="image/png">
  <script src="/static/index.js" defer></script>
</head>
<body>
  <div class="wrapper">
    <div class="floor">
      <h1><a href="/">Online 囲碁</a></h1>
    </div>
    <div class="floor first-buttons">
      <button type="button" class="new-game" onclick="openNewGameForm();">新たな対局を作成する</button>
      <button type="button" class="join-game" onclick="openJoinGameForm();">対局に参加する</button>
    </div>
    <div class="floor game-form">
      <form style="display: none;" name="new-game-form" id="new-game-form">
        <div class="igo-grid-number">
          <label for="igo-grid-number">盤の大きさ: </label>
          <input type="number" name="igo-grid-number" id="igo-grid-number" value="19" min="2" max="19">
          <label for="igo-grid-number">路盤</label>
        </div>
        <div>
          <button type="button" class="back" onclick="closeGameForm();" style="display: none;">戻る</button>
          <button type="button" class="new-game-submit" onclick="submitNewGameForm();">新たな対局を作成する</button>
        </div>
      </form>
      <form style="display: none;" name="join-game-form" id="join-game-form">
        <div class="game-id">
          <label for="game-id">部屋ID: </label>
          <input type="text" name="game-id" id="game-id">
        </div>
        <div class="game-id">
          <label for="password">パスワード: </label>
          <input type="text" name="password" id="password">
        </div>
        <div>
          <button type="button" class="back" onclick="closeGameForm();" style="display: none;">戻る</button>
          <button type="button" class="join-game-submit" onclick="submitJoinGameForm();">対局に参加する</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>