<!DOCTYPE html>
<html lang="ja">
<head>
  {{ template "header" }}
  <link rel="stylesheet" href="static/index.css">
  <script src="static/index.js" defer></script>
</head>
<body>
  <div class="wrapper">
    <div class="floor">
      <h1><a href="/">Online 囲碁</a></h1>
    </div>
    <div class="floor first-buttons">
      <button class="new-game" onclick="openNewGameForm();">新たな対局を作成</button>
      <button class="join-game" onclick="openJoinGameForm();">対局に参加</button>
    </div>
    <div class="floor game-form">
      <form action="/" style="display: none;" id="new-game-form">
        <div class="igo-grid-number">
          <label for="igo-grid-number">盤の大きさ: </label>
          <input type="number" name="igo-grid-number" id="igo-grid-number" value="19" min="2" max="19">
          <label for="igo-grid-number">路盤</label>
        </div>
        <div class="nickname">
          <label for="nickname">ニックネーム: </label>
          <input type="text" name="nickname" id="nickname" placeholder="通りすがりの棋士">
          <label for="nickname">さん</label>
        </div>
        <div>
          <button class="back" onclick="closeGameForm();" style="display: none;">戻る</button>
          <button class="new-game-submit" onclick="">対局を作成</button>
        </div>
      </form>
      <form action="/" style="display: none;" id="join-game-form">
        a
      </form>
    </div>
  </div>
</body>
</html>